**/.terraform
**/terraform.tfstate*
**/terraform.tfvars
**/.terraform.tfstate.lock.info
**/.terraform.lock.hcl
**/provider.tf
**/terraform.tfvars
!tests/**/terraform.tfvars
**/__pycache__
**/.pytest_cache
**/.test.lock
.idea
.vscode
backend-config.hcl
variables-private.tf
credentials.json
key.json
terraform-ls.tf
bundle.zip
.DS_Store
**/packer_cache
**/*.pkrvars.hcl
